<html ng-app="bluelock">
<head>
<meta charset="utf8" />
<title>Bluelock File Store</title>
<link rel="stylesheet" href="styles/styles.css">
</head>
<body>
	<div id="wrap">
		<div id="header">
			<h1>Bluelock File Store</h1>
		</div>
		<div id="main" ng-controller="RetrieveCtrl">
			<h2>File Store</h2>
			<table class="table">
				<tr>
					<td>Client Id</td>
					<td>File Name</td>
				</tr>
				<tr>
					<td><input class="clientId" type="text" ng-model="clientId"/></td>
					<td><input type="text" ng-model="fileName"/></td>
					<td><button ng-click="search(clientId, fileName)">Download</button></td>
				</tr>
			</table>
		</div>
		<div id="sidebar" ng-controller="UploadCtrl">
			<h2>Upload</h2>
			<table class="table">
				<tr>
					<td>Client Id</td>
				</tr>
				<tr>
					<td><input class="clientId" type="text" ng-model="clientId"></td>
				</tr>
				<tr>
					<td><input type="file" class="custom-file-input" file-model="myFile"></td>
				</tr>
				<tr>
					<td><button ng-click="uploadFile()">Upload</button></td>
				</tr>
			</table>
		</div>
		<div id="footer">
			<p>Footer</p>
		</div>
	</div>
	<script src="lib/angular/angular-1.2.16.js"></script>
	<script src="app.js"></script>
</body>
</html>
